.endParagraph {
    position: absolute;
    color: #fff;
    width: 300px;
    height: 400px;
    background: red;
}

.options-container {
    position: absolute;
    text-align: center;
    top: 45%;
    right: 0;
    left: 0;
}

.restart-loop a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restart-loop a:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.hidden {
    display: none;
}

.options-container a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 30%;
}

.options-container a img {
    max-width: 100%;
}

.options-container a:hover {
    transform: scale(1.1);
}

.jw-controlbar {
    display: none !important;
}


/* .jw-svg-icon-replay path {    
  display: none;
}
.jw-svg-icon-play path {    
  display: none;
  z-index: 50;
  height: 150px;
} */


/* .jw-display-icon-container {
  display: none !important;
} */

.slo-loop1 a {
    width: 25%;
    margin-left: 0.025%;
    margin-right: 0.025%;
}

.slo-loop2 a:first-of-type {
    width: 40%;
    margin-left: 0.001%;
}

.slo-loop2 a:nth-of-type(2) {
    width: 33%;
    margin-left: 0.012%;
}

.slo-loop2 a:last-of-type {
    width: 24%;
}

.slo-loop3 a {
    width: 30%;
    margin-left: 0.13%;
    margin-right: 0.13%;
}